<section class="about section" id="about">
    <span class="section_subtitle">My Intro</span>
    <h2 class="section_title">
        About Me
    </h2>

    <img src="{{ asset('build/images/billEmojiFb/fbavatar_1.png') }}" alt="" class="section_img_title">

    <div class="about_container">
        <img src="{{ asset('build/images/about.jpg') }}" alt="" class="about_img">
         <div class="about_data">
            <div class="about_info">
                <div class="about_box">
                    <i class="bx bx-award about_icon"></i>
                    <h3 class="about_title">Experience</h3>
                    <span class="about_subtitle">+ 4 Years Working</span>
                </div>

                <div class="about_box">
                    <i class="bx bx-briefcase-alt about_icon"></i>
                    <h3 class="about_title">Projects</h3>
                    <span class="about_subtitle">+ 7 Projects</span>
                </div>

                <div class="about_box">
                    <i class="bx bx-support about_icon"></i>
                    <h3 class="about_title">Available statue</h3>
                    <span class="about_subtitle">Available</span>
                </div>
            </div>
             <p class="about_description">
                 Passionate about computers since the age 17 years old.
                 I decided to make it my job.
                 Now i'm a Full-Stack developer, I create custom web and mobile applications. I also have
                 experience in the design of products and customer relations.
             </p>
             <a href="#contact" class="button">Contact Me</a>
         </div>
    </div>
</section>