<section class="about section" id="about">
    <span class="section_subtitle">My Intro</span>
    <h2 class="section_title">About Me</h2>

    <div class="about_container container grid">
        <img src="{{ asset('build/images/about.jpg') }}" alt="" class="about_img">
         <div class="about_data">
            <div class="about_info">
                <div class="about_box">
                    <i class="bx bx-award about_icon"></i>
                    <h3 class="about_title">Experience</h3>
                    <span class="about_subtitle">3 Years Working</span>
                </div>

                <div class="about_box">
                    <i class="bx bx-briefcase-alt about_icon"></i>
                    <h3 class="about_title">Projects</h3>
                    <span class="about_subtitle">6 + Projects</span>
                </div>

                <div class="about_box">
                    <i class="bx bx-support about_icon"></i>
                    <h3 class="about_title">Support</h3>
                    <span class="about_subtitle">Online 24/7</span>
                </div>
            </div>
             <p class="about_description">
                 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam aliquet lobortis augue. Integer dapibus orci id leo iaculis, non faucibus diam tempus. Aenean ut enim nec enim dictum sollicitudin. Nam malesuada dolor non nulla pretium sagittis. Suspendisse at nisl ipsum. Nullam rutrum sodales ornare.
             </p>
             <a href="#contact" class="button">Contact Me</a>
         </div>
    </div>
</section>