<section class="contact section" id="contact">
    <span class="section_subtitle">Get in Touche</span>
    <h2 class="section_title">Contact Me</h2>
    <img src="{{ asset('build/images/billEmojiFb/fbavatar_5.png') }}" alt="" class="section_img_title">

    <div class="contact_container container grid">
        <div class="contact_content">
            <h3 class="contact_title">Talk to me</h3>

            <div class="contact_info">
                <div class="contact_card">
                    <i class="bx bx-mail-send contact_card_icon"></i>
                    <h3 class="contact_card_title">Email</h3>
                    <span class="contact_card_data">bilolben@gmail.com</span>

                    <a href="" target="_blank" class="contact_button">
                        Write me <i class="bx bx-right-arrow-alt contact_button_icon"></i>
                    </a>
                </div>

                <div class="contact_card">
                    <i class="bx bxl-whatsapp contact_card_icon"></i>
                    <h3 class="contact_card_title">Whatsapp</h3>
                    <span class="contact_card_data">07.52.79.20.11</span>

                    <a href="https://wa.me/752792011" target="_blank" class="contact_button">
                        Write me <i class="bx bx-right-arrow-alt contact_button_icon"></i>
                    </a>
                </div>

                <div class="contact_card">
                    <i class="bx bxl-instagram contact_card_icon"></i>
                    <h3 class="contact_card_title">Instagram</h3>
                    <span class="contact_card_data">bill_been</span>

                    <a href="" target="_blank" class="contact_button">
                        Write me <i class="bx bx-right-arrow-alt contact_button_icon"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="contact_content">
            <h3 class="contact_title">Write me your project</h3>

            <form action="" class="contact_form">
                <div class="contact_form_div">
                    <label for="name" class="contact_form_tag">Name</label>
                    <input name="name" type="text" placeholder="Insert your name" class="contact_form_input">
                </div>

                <div class="contact_form_div">
                    <label for="email" class="contact_form_tag">Email</label>
                    <input name="email" type="email" placeholder="Insert your email" class="contact_form_input">
                </div>

                <div class="contact_form_div contact_form_area">
                    <label for="message" class="contact_form_tag">Message</label>
                    <textarea name="message" id="text" cols="30" rows="10" placeholder="Write your message" class="contact_form_input"></textarea>
                </div>

                <button type="button" class="button contact_send_button">Send Message</button>
            </form>
        </div>
    </div>
</section>