<section class="services section" id="services">
    <span class="section_subtitle">My Services</span>
    <h2 class="section_title">What I Offer</h2>

    <div class="services_container container grid">
        <div class="services_card">
            <h3 class="services_title">Product <br> Designer</h3>
            <span class="services_button">
                See more <i class="bx bx-right-arrow-alt services_icon"></i>
            </span>

            <div class="services_modal">
                <div class="services_modal_content">
                    <i class="bx bx-x services_modal_close"></i>
                    <h3 class="services_modal_title">Product Designer </h3>
                    <p class="service_modal_description">
                        orem ipsum dolor sit amet, consectetur adipiscing elit.
                        Sed ultricies, tellus sed faucibus sodales,
                        metus metus dapibus enim, in congue erat felis vitae mi.
                    </p>

                    <ul class="services_modal_list">
                        <li class="services_modal_item">
                            <i class="bx bx-check services_modal_icon"></i>
                            <p class="services_modal_info">
                                metus metus dapibus enim, in congue erat felis vitae mi.
                            </p>
                        </li>

                        <li class="services_modal_item">
                            <i class="bx bx-check services_modal_icon"></i>
                            <p class="services_modal_info">
                                metus metus dapibus enim, in congue erat felis vitae mi.
                            </p>
                        </li>

                        <li class="services_modal_item">
                            <i class="bx bx-check services_modal_icon"></i>
                            <p class="services_modal_info">
                                metus metus dapibus enim, in congue erat felis vitae mi.
                            </p>
                        </li>

                        <li class="services_modal_item">
                            <i class="bx bx-check services_modal_icon"></i>
                            <p class="services_modal_info">
                                metus metus dapibus enim, in congue erat felis vitae mi.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="services_card">
            <h3 class="services_title">Ui/Ux<br> Designer</h3>
            <span class="services_button">
                See more <i class="bx bx-right-arrow-alt services_icon"></i>
            </span>
        </div>

        <div class="services_card">
            <h3 class="services_title">Visual <br> Designer</h3>
            <span class="services_button">
                See more <i class="bx bx-right-arrow-alt services_icon"></i>
            </span>
        </div>

    </div>
</section>