<section class="services section" id="services">

    <span class="section_subtitle">My Services</span>
    <h2 class="section_title">What I Offer</h2>
    <img src="{{ asset('build/images/billEmojiFb/fbavatar_7.png') }}" alt="" class="section_img_title">

    <div class="services_container container grid">
        <div class="services_card">
            <h3 class="services_title">Product <br> Designer</h3>
            <span class="services_button">
                See more <i class="bx bx-right-arrow-alt services_icon"></i>
            </span>

            <div class="services_modal">
                <div class="services_modal_content">
                    <i class="bx bx-x services_modal_close"></i>
                    <h3 class="services_modal_title">Product Designer</h3>
{#                    <p class="service_modal_description">#}
{#                        orem ipsum dolor sit amet, consectetur adipiscing elit#}
{#                        Sed ultricies, tellus sed faucibus sodales,#}
{#                        metus metus dapibus enim, in congue erat felis vitae mi#}
{#                    </p>#}

                    <ul class="services_modal_list">
                        <li class="services_modal_item">
                            <i class="bx bx-check services_modal_icon"></i>
                            <p class="services_modal_info">
                                Application Mockup and prototypes
                            </p>
                        </li>

                        <li class="services_modal_item">
                            <i class="bx bx-check services_modal_icon"></i>
                            <p class="services_modal_info">
                                Ui/Ux Design
                            </p>
                        </li>

                        <li class="services_modal_item">
                            <i class="bx bx-check services_modal_icon"></i>
                            <p class="services_modal_info">
                                Visual Design
                            </p>
                        </li>

                        <li class="services_modal_item">
                            <i class="bx bx-check services_modal_icon"></i>
                            <p class="services_modal_info">
                                Photos editing
                            </p>
                        </li>
{#                        <li class="services_modal_item">#}
{#                            <i class="bx bx-check services_modal_icon"></i>#}
{#                            <p class="services_modal_info">#}
{#                                Web Animation, parallax effect#}
{#                            </p>#}
{#                        </li>#}
                    </ul>
                </div>
            </div>
        </div>

        <div class="services_card">
            <h3 class="services_title">Web <br>Integrator</h3>
            <span class="services_button">
                See more <i class="bx bx-right-arrow-alt services_icon"></i>
            </span>

            <div class="services_modal">
                <div class="services_modal_content">
                    <i class="bx bx-x services_modal_close"></i>
                    <h3 class="services_modal_title">Web Integrator</h3>
{#                    <p class="service_modal_description">#}
{#                        orem ipsum dolor sit amet, consectetur adipiscing elit#}
{#                        Sed ultricies, tellus sed faucibus sodales,#}
{#                        metus metus dapibus enim, in congue erat felis vitae mi#}
{#                    </p>#}

                    <ul class="services_modal_list">
                        <li class="services_modal_item">
                            <i class="bx bx-check services_modal_icon"></i>
                            <p class="services_modal_info">
                                Graphic design implementation into computer language
                            </p>
                        </li>
                        <li class="services_modal_item">
                            <i class="bx bx-check services_modal_icon"></i>
                            <p class="services_modal_info">
                                Participation in the writing of documentation
                            </p>
                        </li>
                        <li class="services_modal_item">
                            <i class="bx bx-check services_modal_icon"></i>
                            <p class="services_modal_info">
                                Website improvement proposal
                            </p>
                        </li>
                        <li class="services_modal_item">
                            <i class="bx bx-check services_modal_icon"></i>
                            <p class="services_modal_info">
                                responsive interfaces for any screen size
                            </p>
                        </li>
                        <li class="services_modal_item">
                            <i class="bx bx-check services_modal_icon"></i>
                            <p class="services_modal_info">
                                Web Animation
                            </p>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

        <div class="services_card">
            <h3 class="services_title">Front-end <br>Developer</h3>
            <span class="services_button">
                See more <i class="bx bx-right-arrow-alt services_icon"></i>
            </span>

            <div class="services_modal">
                <div class="services_modal_content">
                    <i class="bx bx-x services_modal_close"></i>
                    <h3 class="services_modal_title">Front-end Developer</h3>
                    {#                    <p class="service_modal_description">#}
                    {#                        orem ipsum dolor sit amet, consectetur adipiscing elit#}
                    {#                        Sed ultricies, tellus sed faucibus sodales,#}
                    {#                        metus metus dapibus enim, in congue erat felis vitae mi#}
                    {#                    </p>#}

                    <ul class="services_modal_list">
                        <li class="services_modal_item">
                            <i class="bx bx-check services_modal_icon"></i>
                            <p class="services_modal_info">
                                Implementing REST APIs
                            </p>
                        </li>
                        <li class="services_modal_item">
                            <i class="bx bx-check services_modal_icon"></i>
                            <p class="services_modal_info">
                                Develop new components and features
                            </p>
                        </li>
                        <li class="services_modal_item">
                            <i class="bx bx-check services_modal_icon"></i>
                            <p class="services_modal_info">
                                Collaboration with members of a creative team
                            </p>
                        </li>
                        <li class="services_modal_item">
                            <i class="bx bx-check services_modal_icon"></i>
                            <p class="services_modal_info">
                                building web applications using modern JavaScript frameworks
                            </p>
                        </li>
                        <li class="services_modal_item">
                            <i class="bx bx-check services_modal_icon"></i>
                            <p class="services_modal_info">
                                testing front-end applications
                            </p>
                        </li>
                        <li class="services_modal_item">
                            <i class="bx bx-check services_modal_icon"></i>
                            <p class="services_modal_info">
                                integrate dynamic modules and animations
                            </p>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

        <div class="services_card">
            <h3 class="services_title">Back-end <br> Developer</h3>
            <span class="services_button">
                See more <i class="bx bx-right-arrow-alt services_icon"></i>
            </span>

            <div class="services_modal">
                <div class="services_modal_content">
                    <i class="bx bx-x services_modal_close"></i>
                    <h3 class="services_modal_title">Back-end Developer</h3>
                    {#                    <p class="service_modal_description">#}
                    {#                        orem ipsum dolor sit amet, consectetur adipiscing elit#}
                    {#                        Sed ultricies, tellus sed faucibus sodales,#}
                    {#                        metus metus dapibus enim, in congue erat felis vitae mi#}
                    {#                    </p>#}

                    <ul class="services_modal_list">
                        <li class="services_modal_item">
                            <i class="bx bx-check services_modal_icon"></i>
                            <p class="services_modal_info">
                                Design and plan a database
                            </p>
                        </li>
                        <li class="services_modal_item">
                            <i class="bx bx-check services_modal_icon"></i>
                            <p class="services_modal_info">
                                Set up a database
                            </p>
                        </li>
                        <li class="services_modal_item">
                            <i class="bx bx-check services_modal_icon"></i>
                            <p class="services_modal_info">
                                Development of components in the language of a database
                            </p>
                        </li>
                        <li class="services_modal_item">
                            <i class="bx bx-check services_modal_icon"></i>
                            <p class="services_modal_info">
                                building web applications using modern back-end frameworks
                            </p>
                        </li>
                        <li class="services_modal_item">
                            <i class="bx bx-check services_modal_icon"></i>
                            <p class="services_modal_info">
                                Organization of the development environment
                            </p>
                        </li>
                        <li class="services_modal_item">
                            <i class="bx bx-check services_modal_icon"></i>
                            <p class="services_modal_info">
                                Ability to quickly learn and develop expertise in highly complex existing applications and architectures
                            </p>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="services_card">
            <h3 class="services_title">Testing and <br> debugging</h3>
            <span class="services_button">
                See more <i class="bx bx-right-arrow-alt services_icon"></i>
            </span>

            <div class="services_modal">
                <div class="services_modal_content">
                    <i class="bx bx-x services_modal_close"></i>
                    <h3 class="services_modal_title">Testing and debugging</h3>
                    {#                    <p class="service_modal_description">#}
                    {#                        orem ipsum dolor sit amet, consectetur adipiscing elit#}
                    {#                        Sed ultricies, tellus sed faucibus sodales,#}
                    {#                        metus metus dapibus enim, in congue erat felis vitae mi#}
                    {#                    </p>#}

                    <ul class="services_modal_list">
                        <li class="services_modal_item">
                            <i class="bx bx-check services_modal_icon"></i>
                            <p class="services_modal_info">
                                Unit tests
                            </p>
                        </li>
                        <li class="services_modal_item">
                            <i class="bx bx-check services_modal_icon"></i>
                            <p class="services_modal_info">
                                functional testing
                            </p>
                        </li>
                        <li class="services_modal_item">
                            <i class="bx bx-check services_modal_icon"></i>
                            <p class="services_modal_info">
                                end-to-end testing
                            </p>
                        </li>
                        <li class="services_modal_item">
                            <i class="bx bx-check services_modal_icon"></i>
                            <p class="services_modal_info">
                                Prepare and execute application test plans
                            </p>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="services_card">
            <h3 class="services_title">Deployment</h3>
            <span class="services_button">
                See more <i class="bx bx-right-arrow-alt services_icon"></i>
            </span>

            <div class="services_modal">
                <div class="services_modal_content">
                    <i class="bx bx-x services_modal_close"></i>
                    <h3 class="services_modal_title">Deployment</h3>
                    {#                    <p class="service_modal_description">#}
                    {#                        orem ipsum dolor sit amet, consectetur adipiscing elit#}
                    {#                        Sed ultricies, tellus sed faucibus sodales,#}
                    {#                        metus metus dapibus enim, in congue erat felis vitae mi#}
                    {#                    </p>#}

                    <ul class="services_modal_list">
                        <li class="services_modal_item">
                            <i class="bx bx-check services_modal_icon"></i>
                            <p class="services_modal_info">
                                Creating component processes and application processes to automate deployment tasks
                            </p>
                        </li>
                        <li class="services_modal_item">
                            <i class="bx bx-check services_modal_icon"></i>
                            <p class="services_modal_info">
                                Configuring environments to deploy applications
                            </p>
                        </li>
                        <li class="services_modal_item">
                            <i class="bx bx-check services_modal_icon"></i>
                            <p class="services_modal_info">
                                Update web app with new artifacts
                            </p>
                        </li>
                        <li class="services_modal_item">
                            <i class="bx bx-check services_modal_icon"></i>
                            <p class="services_modal_info">
                                Deploy Android and iOS app
                            </p>
                        </li>
                    </ul>
                </div>
            </div>

        </div>


    </div>
</section>