* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body,
button,
input,
textarea {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

body {
    background-color: var(--body-color);
    color: var(--text-color);
/*     transition: .4s; /* for light mode animation */
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2, h3 {
    color: var(--title-color);
    font-weight: var(--font-semibold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 90vw;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    flex-wrap: wrap;
}

.grid {
    display: grid;
    gap: 1.25rem;
}

.main {
    overflow: hidden;
}

.section {
    padding: .5rem 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.section_title,
.section_subtitle {
    text-align: center;
}

.section_img_title {
    width: 75px;
    display: block;
    margin: .25rem auto 2rem;
}

.section_title {
    font-size: var(--h2-font-size);
    color: var(--first-color);
}

.section_subtitle {
    display: block;
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
}

.bx {
    display: inline !important;
}

.landing_animation_page {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: var(--z-modal);
    display: flex;
    flex-direction: column;
    animation: landing_animation 1s linear 2s forwards ;

}

.landing_animation{
    height: 100%;
    width: 100%;
}

.landing_animation:nth-child(1) {
    background-color: var(--container-color);
    animation: landing_animation 1s linear .2s forwards ;

}

.landing_animation:nth-child(2) {
    background-color: var(--first-color-alt);
    animation: landing_animation 1s linear .5s forwards ;
}

.landing_animation:nth-child(3) {
    background-color: var(--text-color);
    animation: landing_animation 1s linear .7s forwards ;
}

@keyframes landing_animation {
    from { width : 100%; }
    to   { width: 0%; }
  }