<footer class="footer">
    <div class="footer_container container">
        <div class="foot_logo">
            <h1 class="footer_title">Bilel</h1>
            <img src="{{ asset('build/images/billCap.png') }}" alt="" class="bill_cap">
        </div>

        <ul class="footer_list">
            <li>
                <a href="#about" class="footer_link">About</a>
            </li>

            <li>
                <a href="#work" class="footer_link">Projects</a>
            </li>

            <li>
                <a href="#services" class="footer_link">Services</a>
            </li>
        </ul>

        <ul class="footer_social">
            <a href="" target="_blank" class="footer_social_link">
                <i class="bx bxl-linkedin"></i>
            </a>

            <a href="" target="_blank" class="footer_social_link">
                <i class="bx bxl-whatsapp"></i>

            </a>

            <a href="" target="_blank" class="footer_social_link">
                <i class="bx bxl-instagram"></i>
            </a>

        </ul>
    </div>
</footer>